<div ng-controller="InitController">
    <div class="col-lg-12">
        <h2 class="font-thin m-b">Discover <span class="musicbar animate inline m-l-sm"
                                                 style="width:20px;height:20px"> <span
                class="bar1 a1 bg-primary lter"></span> <span class="bar2 a2 bg-info lt"></span> <span
                class="bar3 a3 bg-success"></span> <span
                class="bar4 a4 bg-warning dk"></span> <span
                class="bar5 a5 bg-danger dker"></span> </span></h2>
        <div class="row row-sm">
            <div ng-repeat="track in tracksBuzz" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n"><a
                                    href="#"><i
                                    class="fa fa-play-circle i-2x"></i></a></div>
                        </div>
                        <a href="#"><img
                                src="{{track.image}}" alt=""
                                class="r r-2x img-full"></a></div>
                    <div class="padder-v"><a
                            href="#"
                            class="text-ellipsis">{{track.name}}</a> <a
                            href="#"
                            class="text-ellipsis text-xs text-muted">{{track.artist_name}}</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h2 class="font-thin m-b">Popular <span class="musicbar animate inline m-l-sm"
                                                style="width:20px;height:20px"> <span
                class="bar1 a1 bg-primary lter"></span> <span class="bar2 a2 bg-info lt"></span> <span
                class="bar3 a3 bg-success"></span> <span
                class="bar4 a4 bg-warning dk"></span> <span
                class="bar5 a5 bg-danger dker"></span> </span></h2>
        <div class="row row-sm">
            <div ng-repeat="track in tracksPopular" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n"><a
                                    href="#"><i
                                    class="fa fa-play-circle i-2x"></i></a></div>
                        </div>
                        <a href="#"><img
                                src="{{track.image}}" alt=""
                                class="r r-2x img-full"></a></div>
                    <div class="padder-v"><a
                            href="#"
                            class="text-ellipsis">{{track.name}}</a> <a
                            href="#"
                            class="text-ellipsis text-xs text-muted">{{track.artist_name}}</a></div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-6">
        <h3 class="font-thin">Top Songs</h3>
        <div class="list-group bg-white list-group-lg no-bg auto"><a
                href="http://flatfull.com/themes/musik/index.html#"
                class="list-group-item clearfix"> <span
                class="pull-right h2 text-muted m-l">1</span> <span
                class="pull-left thumb-sm avatar m-r"> <img
                src="lib/assets/a4.png" alt="..."> </span> <span
                class="clear"> <span>Little Town</span> <small
                class="text-muted clear text-ellipsis">by Chris Fox</small> </span> </a>
            <a href="http://flatfull.com/themes/musik/index.html#"
               class="list-group-item clearfix"> <span
                    class="pull-right h2 text-muted m-l">5</span> <span
                    class="pull-left thumb-sm avatar m-r"> <img
                    src="lib/assets/a8.png" alt="..."> </span>
                <span class="clear"> <span>Vestibulum ullamcorper</span> <small
                        class="text-muted clear text-ellipsis">by Dan Doorack</small> </span>
            </a></div>
    </div>
</div>

